@charset "UTF-8";
/* Tipografía local para los títulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: "Fjalla One", sans-serif;
  src: url(../assets/FjallaOne-Regular.ttf);
}
/* Font de Google Fonts para el body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Fjalla One", sans-serif;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 22px;
}

/* BARRA NAV DE LAS PÁGINAS */
.navbar, .navbar-expand-lg, .bg-body-tertiary {
  background-color: #2E88FF !important;
}

.nav-link {
  font-family: "Robot Slab", serif;
  color: yellow;
}

.contenedor-icono-navbar {
  color: white;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.page-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* FOOTER */
footer {
  background-color: #2E88FF;
  color: white;
}

.bi-facebook, .bi-twitter, .bi-instagram, .bi-tiktok {
  color: white;
}

/* TESTIMONIALS PAGE (Se utilizó grid de CSS)*/
/* Grilla padre */
.grilla {
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "area7 area1 area2 area8" "area9 area3 area4 area10" "area11 area5 area6 area12";
  display: grid;
  gap: 15px;
  padding: 15px;
  align-items: center;
  justify-items: center;
  place-items: center;
}
.grilla__hijo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grilla__hijo__nieto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grilla__hijo__nieto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Asignación de áreas */
.g1 {
  grid-area: area1;
}

.g2 {
  grid-area: area2;
}

.g3 {
  grid-area: area3;
}

.g4 {
  grid-area: area4;
}

.g5 {
  grid-area: area5;
}

.g6 {
  grid-area: area6;
}

.g7 {
  grid-area: area7;
}

.g8 {
  grid-area: area8;
}

.g9 {
  grid-area: area9;
}

.g10 {
  grid-area: area10;
}

.g11 {
  grid-area: area11;
}

.g12 {
  grid-area: area12;
}

/* CONTACT PAGE */
.form-label {
  text-align: left;
}

.btn, .btn-primary {
  background: #2E88FF;
  border-color: #2E88FF;
}

/* Media queries */
@media only screen and (max-width: 1400px) {
  .grilla {
    grid-template-columns: minmax(10%, 1fr) 4fr 4fr minmax(10%, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area7 area1 area2 area8" "area9 area3 area4 area10" "area11 area5 area6 area12";
    display: grid;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  .grilla__hijo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1244px) {
  .grilla {
    grid-template-columns: minmax(5%, 1fr) 4fr 4fr minmax(5%, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area7 area1 area2 area8" "area9 area3 area4 area10" "area11 area5 area6 area12";
    display: grid;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  .grilla__hijo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1080px) {
  .grilla {
    grid-template-columns: 10% 2fr 2fr 10%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area7 area1 area2 area8" "area9 area3 area4 area10" "area11 area5 area6 area12";
    display: grid;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  .grilla__hijo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 990px) {
  .grilla {
    grid-template-columns: minmax(5%, 1fr) 6fr minmax(5%, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "area7 area1 area8" "area7 area2 area8" "area7 area3 area8" "area7 area4 area8" "area7 area5 area8" "area7 area6 area8";
    display: grid;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  .grilla__hijo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 576px) {
  .grilla {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6";
    display: grid;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  .grilla__hijo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grilla__hijo__nieto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.logo {
  transition: 1s;
}
.logo:hover {
  transform: rotate(360deg);
}

.animated-image {
  transition: 1s;
}
.animated-image:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
