/* Tipografía local para los títulos */
@font-face {
    font-family: 'Fjalla One', sans-serif;
    src: url(../assets/FjallaOne-Regular.ttf);
}

/* Font de Google Fonts para el body */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    font-family: 'Fjalla One', sans-serif;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}


/* TITULOS DE LAS PÁGINAS */

.page-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* BARRA NAV DE LAS PÁGINAS */

.navbar, .navbar-expand-lg, .bg-body-tertiary{
    background-color: #2E88FF !important;
}

.nav-link{
    font-family: 'Robot Slab', serif;
    color: yellow;
}

.contenedor-icono-navbar{
    color: white;
}

.navbar-toggler{
    border: 2px solid white;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}


/* HOME PAGE */

.logo{
    text-align: center;
    padding: 50px;
}

.logo-body img{
    width: 100%;
    object-fit: cover;
}

.logo-body img{
    width: 50%;
}

#first-message{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}


/* VIDEO SECTION */

.video-section{
    padding: 50px 50px;
    text-align: center;
}

.video-body iframe{
    width: 100%;
    object-fit: cover;
    padding-top: 10px;
}

.video-body{
    display: inline-block;
    width: 50%;  
}


/* PLACEMENT TEST SECTION */

.placement-test-section{
    padding: 50px 50px;
    text-align: center;
}

.placement-test-body img{
    width: 100%;
    object-fit: cover;
    padding-top: 10px;
}

.placement-test-body{
    display: inline-block;
    width: 50%;  
}


/*FIND A COURSE SECTION*/

.find-a-course-section{
    padding: 50px 50px;
    text-align: center;
}

.find-a-course-body img{
    width: 100%;
    object-fit: cover;
    padding-top: 10px;
}

.find-a-course-body{
    display: inline-block;
    width: 50%;  
}


/*REASONS SECTION*/

#reasons-title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

#reasons-image{
    width: 100%;
    margin-bottom: 20px;
}

.reasons-section{
    padding: 50px 50px;
    text-align: center;
}

.reasons-body img{
    width: 100%;
    object-fit: cover;
}

.reasons-body{
    display: inline-block;
    width: 50%;  
    margin-top: 10px;
}

.reasons-body h2{
    margin-top: 50px;
}


/* FOOTER */

footer{
    background-color: #2E88FF;
    color: white;
}

.bi-facebook, .bi-twitter, .bi-instagram, .bi-tiktok {
    color: white;
}


/* ABOUT US PAGE */

.about{
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-body img{
    width: 100%;
    object-fit: cover;
    padding-top: 10px;
}

.about-body{
    display: inline-block;
    width: 50%;  
}


/* TESTIMONIALS PAGE */



/* COURSES PAGE */

.card-body img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-body h2, .card-body p{
    padding: 10px;
}


/* CONTACT PAGE */

.form-label{
    text-align: left;
}

.btn, .btn-primary{
    background: #2E88FF;
    border-color: #2E88FF;
}