.logo{
    transition: 1s;
    // transform: rotate(45deg);
    &:hover{
        transform: rotate(360deg);
    }
}

.animated-image{
    transition: 1s;
    &:hover{
        transform: scale(1.05);
    }
}