/* Media queries */

@media only screen and (max-width: 1400px){

    .grilla{
        grid-template-columns: minmax(10%, 1fr) 4fr 4fr minmax(10%, 1fr); 
        grid-template-rows: repeat(3, auto);
        grid-template-areas:            
        'area7 area1 area2 area8'  
        'area9 area3 area4 area10' 
        'area11 area5 area6 area12' 
        ;
        @include grid;
        &__hijo{
            @include flexbox(100%, 100%, row, center, center);
                    
            &__nieto{
                @include flexbox(100%, 100%, column, center, center);
            
                img{
                    @include images(100%,100%,cover);
                }  
    
                &__bisnieto {
                    @include flexbox(100%,auto,row,center,end)
                }    
            }    
        }
    }
}


@media only screen and (max-width: 1244px){

    .grilla{
        grid-template-columns: minmax(5%, 1fr) 4fr 4fr minmax(5%, 1fr); 
        grid-template-rows: repeat(3, auto);
        grid-template-areas:            
        'area7 area1 area2 area8'  
        'area9 area3 area4 area10' 
        'area11 area5 area6 area12' 
        ;
        @include grid;
        &__hijo{
            @include flexbox(100%, 100%, row, center, center);
                    
            &__nieto{
                @include flexbox(100%, 100%, column, center, center);
            
                img{
                    @include images(100%,100%,cover);
                }  
    
                &__bisnieto {
                    @include flexbox(100%,auto,row,center,end)
                }    
            }    
        }
    }
}


@media only screen and (max-width: 1150px){

    .grilla{
        grid-template-columns: 10% 2fr 2fr 10%; 
        grid-template-rows: repeat(3, auto);
        grid-template-areas:            
        'area7 area1 area2 area8'  
        'area9 area3 area4 area10' 
        'area11 area5 area6 area12' 
        ;
        
        
        @include grid;
        &__hijo{
            @include flexbox(100%, 100%, row, center, center);
                    
            &__nieto{
                @include flexbox(100%, 100%, column, center, center);
            
                img{
                    @include images(100%,100%,cover);
                }  
    
                &__bisnieto {
                    @include flexbox(100%,auto,row,center,end)
                }     
            }    
        }
    }
}




@media only screen and (max-width: 1090px){

    .grilla{
        grid-template-columns: minmax(5%, 1fr) 6fr minmax(5%, 1fr); 
        grid-template-rows: repeat(6, auto);
        grid-template-areas:            
        'area7 area1 area8'  
        'area7 area2 area8'  
        'area7 area3 area8'  
        'area7 area4 area8'  
        'area7 area5 area8'  
        'area7 area6 area8'  

        ;
        @include grid;
        &__hijo{
            @include flexbox(100%, 100%, row, center, center);
                    
            &__nieto{
                @include flexbox(100%, 100%, column, center, center);
            
                img{
                    @include images(100%,100%,cover);
                }  
    
                &__bisnieto {
                    @include flexbox(100%,auto,row,center,end)
                }     
            }    
        }
    }
}


@media only screen and (max-width: 576px){

    .grilla{
        grid-template-columns: 1fr ; 
        grid-template-rows: repeat(6, auto);
        grid-template-areas:            
        'area1'  
        'area2'  
        'area3'  
        'area4'  
        'area5'  
        'area6'  

        ;
        @include grid;
        &__hijo{
            @include flexbox(100%, 100%, row, center, center);
                    
            &__nieto{
                @include flexbox(100%, 100%, column, center, center);
            
                img{
                    @include images(100%,100%,cover);
                }  
    
                &__bisnieto {
                    @include flexbox(100%,auto,row,center,end)
                }    
            }    
        }
    }
}
