/* TESTIMONIALS PAGE (Se utilizó grid de CSS)*/

/* Grilla padre */

.grilla{
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, auto);
    grid-template-areas:            
        'area7 area1 area2 area 8'  
        'area9 area3 area4 area 10'  
        ;
    @include grid;
    &__hijo{
        @include flexbox(100%, 100%, row, center, center);
                
        &__nieto{
            @include flexbox(100%, 100%, column, center, center);
        
            img{
                width: 100%;  
                height: 100%; 
                object-fit: cover;
            }  
        }    
    }
}



/* Asignación de áreas */

.g1{
    grid-area: area1;  
}

.g2{
    grid-area: area2;  
}

.g3{
    grid-area: area3;  
}

.g4{
    grid-area: area4;  
}



//Grillas en blanco

.g7{
    grid-area: area7;  
}
.g8{
    grid-area: area8;  
}
.g9{
    grid-area: area9;  
}
.g10{
    grid-area: area10;  
}


