/* TESTIMONIALS PAGE (Se utilizó grid de CSS)*/

/* Grilla padre */

.grilla{
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, auto);
    grid-template-areas:            
        'area7 area1 area2 area8'  
        'area9 area3 area4 area10' 
        'area11 area5 area6 area12' 
        ;
    @include grid;
    &__hijo{
        @include flexbox(100%, 100%, row, center, center);
                
        &__nieto{
            @include flexbox(100%, 100%, column, center, center);
        
            img{
                @include images(100%,100%,cover);
            }  
        }    
    }
}



/* Asignación de áreas */

.g1{
    grid-area: area1;  
}
.g2{
    grid-area: area2;  
}
.g3{
    grid-area: area3;  
}
.g4{
    grid-area: area4;  
}
.g5{
    grid-area: area5;  
}
.g6{
    grid-area: area6;  
}



//Grillas en blanco

.g7{
    grid-area: area7;  
}
.g8{
    grid-area: area8;  
}
.g9{
    grid-area: area9;  
}
.g10{
    grid-area: area10;  
}
.g11{
    grid-area: area11;  
}
.g12{
    grid-area: area12;  
}


