/* BARRA NAV DE LAS PÁGINAS */

.navbar, .navbar-expand-lg, .bg-body-tertiary{
    background-color: $blue !important;
}

.nav-link{
    font-family: 'Robot Slab', serif;
    color: yellow;
}

.contenedor-icono-navbar{
    color: white;
}

.navbar-toggler{
    border: 2px solid white;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}