/* Tipografía local para los títulos */
@font-face {
    font-family: 'Fjalla One', sans-serif;
    src: url(../assets/FjallaOne-Regular.ttf);
}

/* Font de Google Fonts para el body */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    font-family: $h1-h2-font;
    font-weight: bold;
    color: $blue;
}

body{
    font-family: $body-font;
    font-size: 22px;
}







